.form-box {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba($darkblue, 70%);
  width: 100%;
  height: 100%;
  overflow: auto;
  min-width: $width-min;
}

.work__form {
  max-height: 95vh;
  overflow: auto;
  display: block;
  width: 540px;
  padding: 56px;
  position: absolute;
  left: calc(50% - 270px);

  background: $white;
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  color: $darkblue;

  scrollbar-color: rgba(140, 140, 140, 0.4);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 3px;
    margin: 0 2px;
  }

  &::-webkit-scrollbar-thumb {
    margin: 0 2px;
    width: 3px;
    background-color: rgba(140, 140, 140, 0.4);
  }

  @media (max-width: $width-tablet) {
    width: 80%;
    left: 10%;
  }

  @media (max-width: $width-mobile) {
    padding: 56px 30px;
    width: 90%;
    left: 5%;
  }
}

.btn--close {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  transition: 0.3s ease-in-out;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 15px;
    right: 0;
    display: block;
    border-radius: 3px;
    width: 30px;
    height: 3px;
    background-color: $darkblue;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    opacity: 0.8;
    transition: 0.3s ease-in-out;
  }
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 72px;
}

.form__title {
  padding: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: $darkblue;

  margin-bottom: 48px;
  display: block;

  @media (max-width: $width-mobile) {
    margin-bottom: 35px;
  }
}

.form__label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.04em;
  opacity: 0.8;
  cursor: pointer;
}

.form__input,
.form__textarea {
  width: 428px;
  height: 72px;
  padding: 21px 36px;
  margin-bottom: 32px;
  opacity: 0.4;
  border: 1px solid #356EAD;
  box-sizing: border-box;
  border-radius: 10px;

  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.04em;
  overflow: auto;
  cursor: pointer;

  @media (max-width: $width-tablet) {
    width: 100%;
  }

  @media (max-width: $width-mobile) {
    margin-bottom: 25px;
  }

  &:hover {
    opacity: 1;
    color: $darkblue;
  }

  &:focus {
    outline: none;
    cursor: pointer;
    opacity: 1;
    color: $darkblue;
    border: 1px solid #356EAD;
  }
}

.form__textarea {
  min-height: 182px;
  border: 1px solid #356EAD;
  margin: 0;
  resize: none;
}

.form__btn {
  width: 100%;
}

@keyframes validation-error {
  0%, 50%, 100% {
    transform: translateX(0);
  }
  10%, 30% {
    transform: translateX(-10px);
  }
  20%, 40% {
    transform: translateX(10px);
  }
}

.form__element--error:invalid {
  animation: 1.2s ease-in-out validation-error;
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.3);
  transition: 0.5s;
}

.form__element--error:invalid:focus {
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.3);
  transition: 0.5s;
}

.element-stroke--invalid {
  border: 2px solid red;

  &:hover {
    border: 2px solid red;
  }

  &:focus {
    border: 2px solid red;
  }
}

.element-stroke--valid {
  border: 2px solid green;

  &:hover {
    border: 2px solid green;
  }

  &:focus {
    border: 2px solid green;
  }
}

.success,
.error {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;

  width: 100%;
  height: 100%;
  overflow: auto;

  text-align: center;
  vertical-align: middle;

  background-color: rgba(0, 0, 0, 0.8);
}

.success__message,
.error__message {
  position: relative;
  margin-top: 0;
  max-width: 90vw;

  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  line-height: 100%;
}

.button--success {
  max-width: 90vw;
}

.hidden {
  display: none;
}