.map {
  max-width: 100%;
  width: 940px;
  height: 480px;
  background: url("../img/map.jpg") no-repeat center;
  margin-bottom: 96px;

  @media (max-width: $width-tablet) {
    margin-bottom: 65px;
  }
}