.promo{
    padding-top: 61px;
    margin-bottom: 180px;
    min-height: 680px;
    background: $promo-gradient;
    width: 100vw;

    @media (max-width: $width-tablet) {
        margin-bottom: 80px;
    }
}

.content-wrapper--promo{
    display: flex;
}

.promo__text{
    max-width: 60%;
    font-family: "Gilroy", sans-serif;
    color: $darkblue;
    font-size: 16px;
    line-height: 162%;
    font-weight: 300;
}

.promo__title{
    margin-top: 0;
    margin-bottom: 32px;
    width: 525px;

    font-family: "Galien", sans-serif;
    font-size: 64px;
    line-height: 116%;
    letter-spacing: 0.04em;

}

.promo__description{
    margin-bottom: 71px;
    width: 425px;
    letter-spacing: 0.05em;
    opacity: 0.6;
    font-weight: 300;
}

.promo__link{
    margin-bottom: 50px;
}

.promo__pic{
    width: 688px;
    height: 624px;
    margin-top: -61px;
    margin-right: -195px;
    margin-left: calc(30% - 350px);
    //margin-left: -75px;
}