.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
}

body{
  margin: 0;
  //font-family: opensans, sans-serif;
  font-size: 18px;
  line-height: 32px;
  //color: $grey-blue;
}