.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
}

body{
  margin: 0;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  line-height: 32px;
}

.content-wrapper{
  max-width: $width-max - 213*2px;
  margin: 0 auto;
  min-width: $width-min;

  @media (max-width: $width-desktop) {
    padding: 0 60px;
  }

  @media (max-width: $width-tablet) {
    padding: 0 40px;
  }

  @media (max-width: $width-mobile) {
    padding: 0 20px;
  }
}